<div class="container">
<!-- <h1 class="text-center"></h1> -->
<div class="row margin-top">
  <!-- <div class="tasks "> -->
    <% @tasks.each do |task| %>
  <div class="col-sm-3">
      <h2><%= link_to task.title, task_path(task)%></h2>
    <div class="card imgs">
    </div>
      <% if task.completed %>

        <p>Complete - <i class="far fa-thumbs-up"></i></p>
      <% else %>
        <p>Not Complete - <i class="far fa-thumbs-down"></i></p>
      <% end %>
  </div>
    <% end %>
</div>
<br>
<div><%= link_to "Add Task", tasks_new_path, class: "btn btn-primary" %> </div>
</div>
</div>
</div>

