<h2><%= @task.title %></h2>
<% if @task.completed %>
    <i class="far fa-check-square"></i>
  <% else %>
    <i class="fab fa-xbox"></i>
  <% end %>
<div class="btn btn-warning"><%= link_to "Delete", task_path(@task), method: :delete %></div>
<div class="btn btn-warning"><%= link_to "Edit", edit_path%>
  </div>

<div class="btn btn-warning"><%= link_to "Back to home", tasks_path %> </div>


