<div class="container">
  <div class="row text-center">
    <div class="card imgs">
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
<h2><%= @task.title %></h2>
<% if @task.completed %>
    <p>Woohoo! all done! <i class="far fa-thumbs-up"></i></p>
  <% else %>
    <p>Get it done! <i class="far fa-thumbs-down"></i></p>
  <% end %>
<br>
<div class="btn btn-primary"><%= link_to "Delete", task_path(@task), method: :delete, class: "text-color" %></div>
<br>
<div class="btn btn-primary"><%= link_to "Edit", edit_path, class: "text-color" %>
  </div>
  <br>
<%= link_to "Back to home", tasks_path, class: "btn btn-primary" %>
</div>
</div>

</div>
